.checkbox-group{
    display: flex;
    flex-direction: column;

    margin-top: 16px;
}
.checkbox-group > .header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}
.checkbox-group > .header > .title{
    font-size: 16px;
    font-weight: 500;
}
.checkbox-group > .header > .marker {
    color: var(--accent-color);
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}
.checkbox-group > .header > .marker:hover {
    opacity: 0.6;
}
.checkbox-group > .checkboxs{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}