 .checkbox {
        display: flex;
        align-items: center;

        cursor: pointer;
    }
    .checkbox > input {
        width: 24px;
        height: 24px;
        background-color: var(--background-color);
        border: 1px solid var(--color-text-input-image);
        border-radius: 8px;
        vertical-align: middle;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;

        margin-right: 8px;
    }

    .checkbox > input:checked {
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
    .checkbox > label {
        font-weight: 500;
        font-size: 16px;
        color: var(--font-color);

        cursor: pointer;
    }