.tag {
    padding: 4px 8px;

    background-color: #666D80;
    border-radius: 8px;
}
.tag.progress {
    background-color: #0159C0;
}
.tag.error {
    background-color: #F92B19;
}
.tag.success{
    background-color: #37B537;
}
.tag.successLight {
    background-color:#D5F9DB;
}
.tag.warning {
    background-color: #FE5B00;
}
.tag.next {
    background-color: #7F00BB;
}
.tag.nextLight {
    background-color: #D3E2FF;
}
.tag-label{
    color: #F8F8F8;
    font-size: 16px;
}
.tag-label.dark-text{
    color: #020700;
    font-size: 12px;
    font-weight: 500;
}