.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    outline: none;
    appearance: none;

    font-size: 16px;
    font-weight: 500;

    padding: 8px 16px;
    border-radius: 12px;
    border: 2px solid transparent;

    transition: all 0.3s ease-out 0.1s;
  }

  .btn:hover {
    cursor: pointer;
  }

  .btn:disabled:hover {
    cursor: default;
  }

  .btn.solid {
    color: var(--color-button-solid);
    background-color: var(--color-button-solid-background);
  }

  .btn.solid:hover {
    color: var(--color-button-solid-hover);
    background-color: var(--color-button-solid-hover-background);

    transform: translateY(-2px);
    filter: drop-shadow(0px 4px 2px var(--color-button-solid-shadow));
  }

  .btn.solid:active,
  .btn.solid:focus-visible {
    color: var(--color-button-solid-click);
    background-color: var(--color-button-solid-click-background);
    transition: background-color 0.1s ease-out;
  }

  .btn.solid:disabled {
    color: var(--color-button-solid-disabled);
    background-color: var(--color-button-solid-disabled-background);
  }

  .btn.solid:disabled:hover {
    filter: none;
    transform: none;
  }

  .btn.outline {
    color: var(--color-button-outline);
    border-color: var(--color-button-outline);
    background-color: var(--color-button-outline-background);
  }

  .btn.outline:hover {
    color: var(--color-button-outline-hover);
    border-color: var(--color-button-outline-hover);
    background-color: var(--color-button-outline-hover-background);
  }

  .btn.outline:active,
  .btn.outline:focus-visible {
    color: var(--color-button-outline-click);
    border-color: var(--color-button-outline-click);
    background-color: var(--color-button-outline-click-background);
    transition: all 0.1s;
  }

  .btn.outline:disabled {
    color: var(--color-button-outline-disabled);
    border-color: var(--color-button-outline-disabled);
    background-color: var(--color-button-outline-disabled-background);
  }

  .btn.transparent {
    color: var(--color-button-transparent);
    background-color: var(--color-button-transparent-background);
  }

  .btn.transparent:hover {
    color: var(--color-button-transparent-hover);
    background-color: var(--color-button-transparent-hover-background);
  }

  .btn.transparent:active,
  .btn.btn.transparent:focus-visible {
    color: var(--color-button-transparent-click);
    background-color: var(--color-button-transparent-click-background);
    transition: all 0.1s;
  }

  .btn.transparent:disabled {
    color: var(--color-button-transparent-disabled);
    background-color: var(--color-button-transparent-disabled-background);
  }